/*ESTILOS DEL CONTENIDO*/
.title{
    background: linear-gradient(90deg,rgba(0,63,109,1) 0%,rgba(0,63,109,0.9) 100%);
    color: white;
    border-radius: 3px;
    padding: 1px;
    padding-left: 20px;
    padding-bottom: 5px;
    margin: 10px 0px;
}

.producto{
    max-width: 250px;
    margin: auto;
    margin-bottom: 25px;
    padding: 10px;
    box-shadow: 0 0 6px rgb(0 0 0 / 20%);
    border-radius: 3px;
}

.producto-imagen{
    max-width: 250px;
    min-height: 250px;
    height: 250px;
    overflow: hidden;
}

.producto-imagen img{
    display: block;
    margin: auto;
    line-height: normal;
    max-width: 100%;
    height: 100%;
    transform: scale(0.9);
    transition: all .4s;
}

.producto-imagen img:hover{
    transform: scale(1);
}

.producto .producto-titulo{
    height: 53px;
    overflow: hidden;
}

.producto-detalle{
    margin-bottom: 10px;
}

.producto-detalle span{
    color: green;
    font-size: 18px;
}

.producto-detalle p{
    font-size: 16px;
    margin: 0px;
}

.producto-detalle .antes{
    text-decoration: line-through;
}

.producto a{
    width: 100%;
}

/*Slider productos*/
.slider-producto .item{
    max-width: 100% !important;
}