/*MEDIA QUERIES*/

@media (max-width: 1200px){
    .prueba{
        display: none;
    }

    .col-slider{
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 810px){
    .saludo{
        display: none;
    }
}

@media (max-width: 581px){
    #logo a{
        font-size: 22px;
    }

    #logo img{
        width: 65px;
        margin-top: 15px;
    }
}

@media (max-width: 576px){
    #logo a span{
        display: none;
    }

    .login span.icon-cart {
        font-size: 26px;
    }

    .login .cart .cart-unit {
        top: 15px;
    }

    .login span.icon-user-o {
        font-size: 30px;
    }

    .menu .menu-right {
        padding: 8px 0px;
    }
}

@media (max-width: 440px){
    .titulo-slider-marca{
        font-size: 20px;
    }

    .producto-detalle-detalle .titulo h2 {
        font-size: 25px;
    }

    .card-carrito a{
        width: 100% !important;
    }

    .mis_datos .btn{
        width: 100%;
    }

    #login .modal-body input {
        padding: 1.5rem;
        font-size: 0.8rem;
    }

    
}

@media (max-width: 400px){

    #login .login-logo img {
        width: 70%;
    }

    #login .login-texto h5{
        font-size: 18px;
    }

    #login .login-texto p{
        font-size: 15px;
    }
}

@media (max-width: 350px){

    .menu-right .nav-link{
        padding: .5rem 0rem;
    }

    .navbar {
        padding: 0.5rem 0rem;
    }

    .title{
        font-size: 26px;
    }
}

@media (max-width: 390px){
    .title{
        font-size: 29px;
    }
}

/*MEDIA QUERIES INTERMEDIAS*/

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .producto-detalle-imagen img{
        width: 100% !important;
    }
}